<% include ./partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">
            <%= blog.title %>
        </div>
        <a href="/blogs">Go Back</a>
    </div>
<% include ./partials/footer %>